molecule-01-psi.inp.log  0.000
molecule-02-psi.inp.log  0.491
molecule-03-psi.inp.log  0.746
molecule-04-psi.inp.log  0.542
molecule-05-psi.inp.log  1.195
molecule-06-psi.inp.log  1.170
molecule-07-psi.inp.log  1.057
molecule-08-psi.inp.log  1.183
molecule-09-psi.inp.log  1.084
molecule-10-psi.inp.log  1.261
molecule-11-psi.inp.log  1.089
molecule-12-psi.inp.log  0.679
molecule-13-psi.inp.log  1.270
molecule-14-psi.inp.log  0.929
molecule-15-psi.inp.log  1.257
molecule-16-psi.inp.log  1.128
molecule-17-psi.inp.log  1.047
molecule-18-psi.inp.log  1.370
molecule-19-psi.inp.log  1.368
molecule-20-psi.inp.log  1.181
molecule-21-psi.inp.log  0.888
molecule-22-psi.inp.log  2.381
molecule-23-psi.inp.log  1.011
molecule-24-psi.inp.log  1.421
molecule-25-psi.inp.log  1.611
molecule-26-psi.inp.log  1.699
molecule-27-psi.inp.log  2.412
molecule-28-psi.inp.log  2.669
molecule-29-psi.inp.log  1.531
molecule-30-psi.inp.log  2.608
molecule-31-psi.inp.log  3.153
molecule-32-psi.inp.log  2.923
molecule-33-psi.inp.log  1.876
molecule-34-psi.inp.log  3.011
molecule-35-psi.inp.log  3.129
molecule-36-psi.inp.log  2.963
molecule-37-psi.inp.log  3.588
molecule-38-psi.inp.log  3.323
molecule-39-psi.inp.log  3.093
molecule-40-psi.inp.log  3.101
molecule-41-psi.inp.log  2.959
molecule-42-psi.inp.log  3.153
molecule-43-psi.inp.log  3.193
molecule-44-psi.inp.log  1.466
molecule-45-psi.inp.log  3.375
molecule-46-psi.inp.log  3.443
molecule-47-psi.inp.log  2.531
molecule-48-psi.inp.log  3.021
molecule-49-psi.inp.log  2.664
molecule-50-psi.inp.log  2.487
molecule-51-psi.inp.log  1.644
molecule-52-psi.inp.log  3.614
molecule-53-psi.inp.log  3.736
molecule-54-psi.inp.log  3.296
molecule-55-psi.inp.log  3.101
molecule-56-psi.inp.log  3.340
molecule-57-psi.inp.log  3.018
molecule-58-psi.inp.log  4.330
molecule-59-psi.inp.log  3.619
molecule-60-psi.inp.log  3.555
molecule-61-psi.inp.log  3.337
molecule-62-psi.inp.log  4.995
molecule-63-psi.inp.log  3.039
molecule-64-psi.inp.log  3.671
molecule-65-psi.inp.log  3.102
molecule-66-psi.inp.log  4.854
molecule-67-psi.inp.log  5.496
molecule-68-psi.inp.log  5.188
molecule-69-psi.inp.log  5.496
molecule-70-psi.inp.log  4.887
molecule-71-psi.inp.log  4.934
molecule-72-psi.inp.log  5.681
molecule-73-psi.inp.log  3.141
molecule-74-psi.inp.log  5.304
molecule-75-psi.inp.log  4.871
molecule-76-psi.inp.log  0.518
molecule-77-psi.inp.log  1.012
molecule-78-psi.inp.log  2.980
molecule-79-psi.inp.log  3.083
molecule-80-psi.inp.log  3.129
molecule-81-psi.inp.log  3.031
molecule-82-psi.inp.log  3.043
molecule-83-psi.inp.log  3.643
molecule-84-psi.inp.log  3.436
molecule-85-psi.inp.log  3.915
molecule-86-psi.inp.log  4.501
molecule-87-psi.inp.log  3.977
molecule-88-psi.inp.log  5.306
molecule-89-psi.inp.log  5.219
molecule-90-psi.inp.log  5.197
molecule-91-psi.inp.log  5.250
molecule-92-psi.inp.log  5.777
molecule-93-psi.inp.log  5.772
molecule-94-psi.inp.log  6.667
molecule-95-psi.inp.log  5.641
molecule-96-psi.inp.log  7.791
